<div class ="calendar mb-3">
  <%= form_with model: @calendar do |form| %>
    <input id ="edit_calendar" type="text" name="calendar[date]" readonly="readonly" >
    <%= form.submit "送信", class: "btn btn-block btn-primary mt-3" %>
  <% end %>
</div>
