<%= link_to "日付投稿ページへ", new_calendars_path, class: "btn btn-block btn-primary w-50 mx-auto my-3" %>
<h1 class="text-center">日付一覧</h1>
<table class="table table-bordered table-striped mt-4 w-50 mx-auto text-center">
  <thead class="table-primary">
    <tr>
      <th scope="col">No.</th>
      <th scope="col" class="w-100">日付</th>
    </tr>
  </thead>
  <tbody>
    <% @calendars.each.with_index(1) do |calendar, i| %>
      <tr>
        <th scope="row" class="text-right"><%= i %></th>
        <td class="break-word"><%= calendar.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
